<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag "oppanGwanakStyle.css" %>
    <title>관악구 맛집 백과 - 가벼운 식당</title>
</head>

<body>
    <div class="container-sm card mt-5 p-3 text-center center-screen">
<h1 class="mb-3">식당이 잘 저장되었습니다. 확인해보세요!</h1>
<div class="container">
<div class="btn btn-warning p-0">
  <%= link_to '돌아가기', lightfoods_path, :class => "btn" %>
</div>
</div>
</div>
</body>